BINANCE_STREAM_URL=wss://testnet.binance.vision/ws
BINANCE_API_URL=https://testnet.binancefuture.com
BINANCE_API_KEY=
BINANCE_SECRET_KEY=
PRICE_FETCH_INTERVAL=5
COOL_DOWN_PERIOD=60
POLLING_INTERVAL=2.5
SANDBOX=false
TRADE_SIDE=BUY
ORDER_TYPE=MARKET
CONTRACT_TYPE=PERPETUAL
INTERVAL=5m
LIMIT=100
AMOUNT_PERCENTAGE=20
MIN_PROFIT=15
MAX_PROFIT=20
MAX_LOSS=-15
MIN_RSI_VALUE=35
MAX_RSI_VALUE=40
